*{
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

body{
    margin: 0;
    padding: 0;
    color: #3f4238;
    background-image: linear-gradient(to top, #d5dee770 0%, #fec89a70 0%, #d7fff270 100%);
    font-size: 18px;
}

h3, h4{
    color: #3f4238;
}

.container{
    width: 60%;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}

.problema-container{
    background-color: #ddf3f0;
    padding: 1rem;
    box-sizing: 0 1px 3px rgba(0,0,0,0.12), 
                0 1px 2px rgba(0,0,0,0.24);
}

.problema-title{
    color:rgba(0,0,0,0.57);
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.problema-content{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

input.problema-input{
    padding: 1rem;
    color: rgba(0,0,0,0.57);
    background: none;
    border: none;
    width: 100%;
    border-bottom: 2px solid #fec89a;
    font-size: 15px;
}

button.problema-button{
    border:none;
    background-color: #fec89a;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.problema-ouput{
    width: 70%;
    color: #3f4238;
    font-family: 'monoscape';
    border: 1px solid #f8edeb;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}

table.problema-table{
    margin:1rem;
}
.problema-input:focus{
    outline: 1px solid #fcd5ce;
}

td{
    padding-bottom: 1rem;
}