*{
    padding: 0;
    margin: 0;
}
html, body {
    background-color: white;
    font-family: Poppins;
    color: #b7b7a4;
}

/* Partes importantes */
.titulo{
    font-size: 4vw;
    margin-bottom: 3vw;
}
.subtitulo{
    font-weight: 300px;
    font-size: 2vw;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0px;
    font-size: 1.2vw;
}
:root{
    scroll-behavior: smooth;
}

/* Imagen de fondo y titulo */
.header{
    height: 100vh;
    background-image: linear-gradient(to top, #d4fc7950 0%, #96e6a150 100%), url(../img/hobbies/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

/* Musica */
aside {
	min-width: 30%;
	margin: 20px 20px 20px 0;
	height: 100%;
	/* background-image: linear-gradient(to top, #d4fc79, #96e6a1); */
	padding: 20px;
	border-radius: 3px;
	box-sizing: border-box;
    position: sticky;
    top: 10px;
    border-radius: 5px;
}

/* imágenes */
.logo-genshin{
    width: 40%;
    display:block;
    margin:auto;
}
.mihoyo{
    width: 60%;
    display:block;
    margin:auto;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.img{
    width:30%;
    display:block;
    margin:auto;
    border-radius: 5px;
}
.video{
    display:block;
    margin:auto;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.especialidades{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cont-esp{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}
.cont-esp img{
    width: 80%;
    display: block;
    margin: auto;
}

/* footer */

footer{
    background:#b7b7a4;
    padding-bottom: 0.1px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-us{
    width: 40%;
    color:#fff;
}
.brand{
    font-weight: 500;
    font-size: 40px;
}
.brand+p{
    font-weight: 500;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    transition: 0.5s;
}
.social-media-icon:hover{
    background: #fff;
    color: #d9ded8;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}